.header{
    background-image: url(../../picture/picture__desktop/header__picture.jpg);
    display: grid;
    grid-template-rows: 174px 239px 169px;
    padding:93px 165px;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
}
.header a{
    color: rgba(255, 255, 255, 1);   
}
.header a:not(.header__link a):hover{
    border-bottom: solid rgba(255, 255, 255, 1) 1px;
}
/* header__content*/
.header__burger{
    display: none;
    position: fixed;
    max-width: 24px;
    width:100%;
}
@media screen and (max-width:380px){
    .header{
        background-image: url(../../picture/picture__iphone/iphone__header.jpg);
        padding: 36px 34px;
        grid-template-rows: 79px  94px 30px; 
    }
    .content__menu{
        display: none;
    }
    .header__burger{
        visibility: visible;
        display: block;
    }
    .header__burger span{
        border-bottom: solid black 1px;
        margin-bottom: 1.5px;
    }
    .header__text span:nth-child(1){
        font-size: 20px;
    }
    .header__text span:nth-child(2){
        margin-top: 13px;
    }
}
.header__content{
    display: flex;
    justify-content: space-between;
}
.header__content a{
    text-decoration: none;
}
.header__content ul{
    list-style-type: none;
    display: flex;
    margin: 0;
}

.header__content ul li:not(:nth-child(5)){
    margin-right: 60px;
}
.content__logo{
    font-weight: 700;
    font-size: 24px;
}
/* header__text */
.header__text{
    display: flex;
    flex-direction: column;
}
.header__text span:nth-child(1){
    font-size: 64px;
}
.header__text span:nth-child(2){
    font-size: 24px;
    margin-top: 26px;
}
/* media */
